
.about{    
    &__header{
        padding-top: 20px;
        margin-bottom: 50px;
        font-size: $title_text;
        text-align: center;
    }
    &__headerText{
        margin: 30px;
        font-size: 1rem;
        font-family: $body_font;
    }
    &__main
    {
        height: auto;
    }
}
.member{
    &__name{
        background-color: rgb(80, 15, 141);
        font-size: 1.5rem;
        text-align: center;
        width: 211px;
    }
    &__image{
        height: 200px;
        width: auto;
        margin-bottom: 20px;
        display: inline-block;
    }
    &__description{
        display: inline-block;
        margin-bottom: 80px; 
        padding-right: 25px;
        width: 250px;
        p {
            font-family: $body_font; 
        };
    }
}

