@media (max-width:768px){
    .footer_icon{
        height: 40px ;
    } 
}
@media (max-width:576px){
    .footer_icon{
        height: 30px ;
    }
    .footer__renglon{ 
        padding: 1px;
    }
}