.shop{
    position: relative;
    &__title{
        display: inline-block;
        font-size: $title_text;  
    }    
    &__search{
        width: auto;   
    }
    &__cart{
        height: 100px;
        width: auto;
    }
}